.App {
	text-align: center;
	background-color: #282c34;
}

.App-logo {
	height: 40vmin;
	transform: skew(20deg);
	animation: App-logo-spin infinite 3s;
	animation-direction: alternate;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	0% {
		transform: skewX(20deg);
	}
	100% {
		transform: skewX(-20deg);
	}
}
